html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  overflow: hidden;
  background: #0066bc; }

input.form-control, textarea.form-control {
  border-color: #7f8589;
  font-size: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }

input.form-control {
  height: 40px; }
  input.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #78be20;
    outline: 0; }

textarea.form-control {
  resize: none;
  padding: 6px 25px 6px 12px; }
  textarea.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #78be20;
    outline: 0; }

.btn-default, .btn-cancel {
  border-radius: 0px;
  color: #FFF;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 10px;
  border: 0px;
  -webkit-box-shadow: 3px, 3px, 3px, 3px, #ccc;
  -moz-box-shadow: 3px, 3px, 3px, 3px, #ccc;
  box-shadow: 3px, 3px, 3px, 3px, #ccc; }

.btn-default {
  background: #78be20; }
  .btn-default:hover, .btn-default:focus, .btn-default:active {
    background: #6aa71d !important;
    color: #FFF !important;
    outline: 0  !important; }

.btn-cancel {
  background: #919090; }
  .btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active {
    background: #7d7d7d !important;
    color: #FFF !important;
    outline: 0  !important; }

.phoneCodeList {
  margin-top: 0px;
  padding: 10px 12px;
  width: 100px; }

.col-center {
  background: #FFF;
  margin: 0 auto;
  float: none;
  padding: 0px 25px 25px 25px;
  -webkit-box-shadow: 13px, 13px, 13px, 13px, #000;
  -moz-box-shadow: 13px, 13px, 13px, 13px, #000;
  box-shadow: 13px, 13px, 13px, 13px, #000; }

ul.dropdown-menu {
  height: 250px;
  overflow-y: scroll; }

img.logo {
  height: 100px; }

p.counter {
  display: inline-block;
  float: right;
  font-size: 11px;
  padding: 2px;
  font-weight: bold; }
p.error-message {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  color: #E53935;
  font-weight: 700; }

span {
  position: absolute;
  top: 12px;
  right: 7px;
  font-size: 15px;
  z-index: 99; }
  span.error {
    color: #E53935; }
  span.validated {
    color: #00E676; }
  span.validated-2 {
    position: absolute;
    top: 32px;
    right: 7px;
    font-size: 15px;
    z-index: 99; }

.div-message {
  position: relative; }
  .div-message span {
    position: absolute;
    top: 32px;
    right: 7px;
    font-size: 15px;
    z-index: 99; }

.bg-error {
  background: #E53935; }

.border-error {
  border-color: #E53935; }

.resultDiv {
  text-align: center; }

.resultIcon {
  font-size: 70px;
  color: #a7a5a5; }

.resultMessage {
  color: #0066bc;
  padding: 15px; }

.modal-content {
  border-radius: 0px; }

.flag {
  width: 20px;
  -webkit-box-shadow: 0px, 0px, 1px, 0px, #888;
  -moz-box-shadow: 0px, 0px, 1px, 0px, #888;
  box-shadow: 0px, 0px, 1px, 0px, #888;
  background-image: url("./../img/flags.png");
  background-repeat: no-repeat;
  display: inline-block; }
  .flag.ac {
    height: 10px;
    background-position: 0px 0px; }
  .flag.ad {
    height: 14px;
    background-position: -22px 0px; }
  .flag.ae {
    height: 10px;
    background-position: -44px 0px; }
  .flag.af {
    height: 14px;
    background-position: -66px 0px; }
  .flag.ag {
    height: 14px;
    background-position: -88px 0px; }
  .flag.ai {
    height: 10px;
    background-position: -110px 0px; }
  .flag.al {
    height: 15px;
    background-position: -132px 0px; }
  .flag.am {
    height: 10px;
    background-position: -154px 0px; }
  .flag.ao {
    height: 14px;
    background-position: -176px 0px; }
  .flag.aq {
    height: 14px;
    background-position: -198px 0px; }
  .flag.ar {
    height: 13px;
    background-position: -220px 0px; }
  .flag.as {
    height: 10px;
    background-position: -242px 0px; }
  .flag.at {
    height: 14px;
    background-position: -264px 0px; }
  .flag.au {
    height: 10px;
    background-position: -286px 0px; }
  .flag.aw {
    height: 14px;
    background-position: -308px 0px; }
  .flag.ax {
    height: 13px;
    background-position: -330px 0px; }
  .flag.az {
    height: 10px;
    background-position: -352px 0px; }
  .flag.ba {
    height: 10px;
    background-position: -374px 0px; }
  .flag.bb {
    height: 14px;
    background-position: -396px 0px; }
  .flag.bd {
    height: 12px;
    background-position: -418px 0px; }
  .flag.be {
    height: 15px;
    background-position: -440px 0px; }
  .flag.bf {
    height: 14px;
    background-position: -460px 0px; }
  .flag.bg {
    height: 12px;
    background-position: -482px 0px; }
  .flag.bh {
    height: 12px;
    background-position: -504px 0px; }
  .flag.bi {
    height: 12px;
    background-position: -526px 0px; }
  .flag.bj {
    height: 14px;
    background-position: -548px 0px; }
  .flag.bl {
    height: 14px;
    background-position: -570px 0px; }
  .flag.bm {
    height: 10px;
    background-position: -592px 0px; }
  .flag.bn {
    height: 10px;
    background-position: -614px 0px; }
  .flag.bo {
    height: 14px;
    background-position: -636px 0px; }
  .flag.bq {
    height: 14px;
    background-position: -658px 0px; }
  .flag.br {
    height: 14px;
    background-position: -680px 0px; }
  .flag.bs {
    height: 10px;
    background-position: -702px 0px; }
  .flag.bt {
    height: 14px;
    background-position: -724px 0px; }
  .flag.bv {
    height: 15px;
    background-position: -746px 0px; }
  .flag.bw {
    height: 14px;
    background-position: -768px 0px; }
  .flag.by {
    height: 10px;
    background-position: -790px 0px; }
  .flag.bz {
    height: 14px;
    background-position: -812px 0px; }
  .flag.ca {
    height: 10px;
    background-position: -834px 0px; }
  .flag.cc {
    height: 10px;
    background-position: -856px 0px; }
  .flag.cd {
    height: 15px;
    background-position: -878px 0px; }
  .flag.cf {
    height: 14px;
    background-position: -900px 0px; }
  .flag.cg {
    height: 14px;
    background-position: -922px 0px; }
  .flag.ch {
    height: 15px;
    background-position: -944px 0px; }
  .flag.ci {
    height: 14px;
    background-position: -961px 0px; }
  .flag.ck {
    height: 10px;
    background-position: -983px 0px; }
  .flag.cl {
    height: 14px;
    background-position: -1005px 0px; }
  .flag.cm {
    height: 14px;
    background-position: -1027px 0px; }
  .flag.cn {
    height: 14px;
    background-position: -1049px 0px; }
  .flag.co {
    height: 14px;
    background-position: -1071px 0px; }
  .flag.cp {
    height: 14px;
    background-position: -1093px 0px; }
  .flag.cr {
    height: 12px;
    background-position: -1115px 0px; }
  .flag.cu {
    height: 10px;
    background-position: -1137px 0px; }
  .flag.cv {
    height: 12px;
    background-position: -1159px 0px; }
  .flag.cw {
    height: 14px;
    background-position: -1181px 0px; }
  .flag.cx {
    height: 10px;
    background-position: -1203px 0px; }
  .flag.cy {
    height: 13px;
    background-position: -1225px 0px; }
  .flag.cz {
    height: 14px;
    background-position: -1247px 0px; }
  .flag.de {
    height: 12px;
    background-position: -1269px 0px; }
  .flag.dg {
    height: 10px;
    background-position: -1291px 0px; }
  .flag.dj {
    height: 14px;
    background-position: -1313px 0px; }
  .flag.dk {
    height: 15px;
    background-position: -1335px 0px; }
  .flag.dm {
    height: 10px;
    background-position: -1357px 0px; }
  .flag.do {
    height: 13px;
    background-position: -1379px 0px; }
  .flag.dz {
    height: 14px;
    background-position: -1401px 0px; }
  .flag.ea {
    height: 14px;
    background-position: -1423px 0px; }
  .flag.ec {
    height: 14px;
    background-position: -1445px 0px; }
  .flag.ee {
    height: 13px;
    background-position: -1467px 0px; }
  .flag.eg {
    height: 14px;
    background-position: -1489px 0px; }
  .flag.eh {
    height: 10px;
    background-position: -1511px 0px; }
  .flag.er {
    height: 10px;
    background-position: -1533px 0px; }
  .flag.es {
    height: 14px;
    background-position: -1555px 0px; }
  .flag.et {
    height: 10px;
    background-position: -1577px 0px; }
  .flag.eu {
    height: 14px;
    background-position: -1599px 0px; }
  .flag.fi {
    height: 12px;
    background-position: -1621px 0px; }
  .flag.fj {
    height: 10px;
    background-position: -1643px 0px; }
  .flag.fk {
    height: 10px;
    background-position: -1665px 0px; }
  .flag.fm {
    height: 11px;
    background-position: -1687px 0px; }
  .flag.fo {
    height: 15px;
    background-position: -1709px 0px; }
  .flag.fr {
    height: 14px;
    background-position: -1731px 0px; }
  .flag.ga {
    height: 15px;
    background-position: -1753px 0px; }
  .flag.gb {
    height: 10px;
    background-position: -1775px 0px; }
  .flag.gd {
    height: 12px;
    background-position: -1797px 0px; }
  .flag.ge {
    height: 14px;
    background-position: -1819px 0px; }
  .flag.gf {
    height: 14px;
    background-position: -1841px 0px; }
  .flag.gg {
    height: 14px;
    background-position: -1863px 0px; }
  .flag.gh {
    height: 14px;
    background-position: -1885px 0px; }
  .flag.gi {
    height: 10px;
    background-position: -1907px 0px; }
  .flag.gl {
    height: 14px;
    background-position: -1929px 0px; }
  .flag.gm {
    height: 14px;
    background-position: -1951px 0px; }
  .flag.gn {
    height: 14px;
    background-position: -1973px 0px; }
  .flag.gp {
    height: 14px;
    background-position: -1995px 0px; }
  .flag.gq {
    height: 14px;
    background-position: -2017px 0px; }
  .flag.gr {
    height: 14px;
    background-position: -2039px 0px; }
  .flag.gs {
    height: 10px;
    background-position: -2061px 0px; }
  .flag.gt {
    height: 13px;
    background-position: -2083px 0px; }
  .flag.gu {
    height: 11px;
    background-position: -2105px 0px; }
  .flag.gw {
    height: 10px;
    background-position: -2127px 0px; }
  .flag.gy {
    height: 12px;
    background-position: -2149px 0px; }
  .flag.hk {
    height: 14px;
    background-position: -2171px 0px; }
  .flag.hm {
    height: 10px;
    background-position: -2193px 0px; }
  .flag.hn {
    height: 10px;
    background-position: -2215px 0px; }
  .flag.hr {
    height: 10px;
    background-position: -2237px 0px; }
  .flag.ht {
    height: 12px;
    background-position: -2259px 0px; }
  .flag.hu {
    height: 10px;
    background-position: -2281px 0px; }
  .flag.ic {
    height: 14px;
    background-position: -2303px 0px; }
  .flag.id {
    height: 14px;
    background-position: -2325px 0px; }
  .flag.ie {
    height: 10px;
    background-position: -2347px 0px; }
  .flag.il {
    height: 15px;
    background-position: -2369px 0px; }
  .flag.im {
    height: 10px;
    background-position: -2391px 0px; }
  .flag.in {
    height: 14px;
    background-position: -2413px 0px; }
  .flag.io {
    height: 10px;
    background-position: -2435px 0px; }
  .flag.iq {
    height: 14px;
    background-position: -2457px 0px; }
  .flag.ir {
    height: 12px;
    background-position: -2479px 0px; }
  .flag.is {
    height: 15px;
    background-position: -2501px 0px; }
  .flag.it {
    height: 14px;
    background-position: -2523px 0px; }
  .flag.je {
    height: 12px;
    background-position: -2545px 0px; }
  .flag.jm {
    height: 10px;
    background-position: -2567px 0px; }
  .flag.jo {
    height: 10px;
    background-position: -2589px 0px; }
  .flag.jp {
    height: 14px;
    background-position: -2611px 0px; }
  .flag.ke {
    height: 14px;
    background-position: -2633px 0px; }
  .flag.kg {
    height: 12px;
    background-position: -2655px 0px; }
  .flag.kh {
    height: 13px;
    background-position: -2677px 0px; }
  .flag.ki {
    height: 10px;
    background-position: -2699px 0px; }
  .flag.km {
    height: 12px;
    background-position: -2721px 0px; }
  .flag.kn {
    height: 14px;
    background-position: -2743px 0px; }
  .flag.kp {
    height: 10px;
    background-position: -2765px 0px; }
  .flag.kr {
    height: 14px;
    background-position: -2787px 0px; }
  .flag.kw {
    height: 10px;
    background-position: -2809px 0px; }
  .flag.ky {
    height: 10px;
    background-position: -2831px 0px; }
  .flag.kz {
    height: 10px;
    background-position: -2853px 0px; }
  .flag.la {
    height: 14px;
    background-position: -2875px 0px; }
  .flag.lb {
    height: 14px;
    background-position: -2897px 0px; }
  .flag.lc {
    height: 10px;
    background-position: -2919px 0px; }
  .flag.li {
    height: 12px;
    background-position: -2941px 0px; }
  .flag.lk {
    height: 10px;
    background-position: -2963px 0px; }
  .flag.lr {
    height: 11px;
    background-position: -2985px 0px; }
  .flag.ls {
    height: 14px;
    background-position: -3007px 0px; }
  .flag.lt {
    height: 12px;
    background-position: -3029px 0px; }
  .flag.lu {
    height: 12px;
    background-position: -3051px 0px; }
  .flag.lv {
    height: 10px;
    background-position: -3073px 0px; }
  .flag.ly {
    height: 10px;
    background-position: -3095px 0px; }
  .flag.ma {
    height: 14px;
    background-position: -3117px 0px; }
  .flag.mc {
    height: 15px;
    background-position: -3139px 0px; }
  .flag.md {
    height: 10px;
    background-position: -3160px 0px; }
  .flag.me {
    height: 10px;
    background-position: -3182px 0px; }
  .flag.mf {
    height: 14px;
    background-position: -3204px 0px; }
  .flag.mg {
    height: 14px;
    background-position: -3226px 0px; }
  .flag.mh {
    height: 11px;
    background-position: -3248px 0px; }
  .flag.mk {
    height: 10px;
    background-position: -3270px 0px; }
  .flag.ml {
    height: 14px;
    background-position: -3292px 0px; }
  .flag.mm {
    height: 14px;
    background-position: -3314px 0px; }
  .flag.mn {
    height: 10px;
    background-position: -3336px 0px; }
  .flag.mo {
    height: 14px;
    background-position: -3358px 0px; }
  .flag.mp {
    height: 10px;
    background-position: -3380px 0px; }
  .flag.mq {
    height: 14px;
    background-position: -3402px 0px; }
  .flag.mr {
    height: 14px;
    background-position: -3424px 0px; }
  .flag.ms {
    height: 10px;
    background-position: -3446px 0px; }
  .flag.mt {
    height: 14px;
    background-position: -3468px 0px; }
  .flag.mu {
    height: 14px;
    background-position: -3490px 0px; }
  .flag.mv {
    height: 14px;
    background-position: -3512px 0px; }
  .flag.mw {
    height: 14px;
    background-position: -3534px 0px; }
  .flag.mx {
    height: 12px;
    background-position: -3556px 0px; }
  .flag.my {
    height: 10px;
    background-position: -3578px 0px; }
  .flag.mz {
    height: 14px;
    background-position: -3600px 0px; }
  .flag.na {
    height: 14px;
    background-position: -3622px 0px; }
  .flag.nc {
    height: 10px;
    background-position: -3644px 0px; }
  .flag.ne {
    height: 15px;
    background-position: -3666px 0px; }
  .flag.nf {
    height: 10px;
    background-position: -3686px 0px; }
  .flag.ng {
    height: 10px;
    background-position: -3708px 0px; }
  .flag.ni {
    height: 12px;
    background-position: -3730px 0px; }
  .flag.nl {
    height: 14px;
    background-position: -3752px 0px; }
  .flag.no {
    height: 15px;
    background-position: -3774px 0px; }
  .flag.np {
    height: 15px;
    background-position: -3796px 0px;
    background-color: transparent; }
  .flag.nr {
    height: 10px;
    background-position: -3811px 0px; }
  .flag.nu {
    height: 10px;
    background-position: -3833px 0px; }
  .flag.nz {
    height: 10px;
    background-position: -3855px 0px; }
  .flag.om {
    height: 10px;
    background-position: -3877px 0px; }
  .flag.pa {
    height: 14px;
    background-position: -3899px 0px; }
  .flag.pe {
    height: 14px;
    background-position: -3921px 0px; }
  .flag.pf {
    height: 14px;
    background-position: -3943px 0px; }
  .flag.pg {
    height: 15px;
    background-position: -3965px 0px; }
  .flag.ph {
    height: 10px;
    background-position: -3987px 0px; }
  .flag.pk {
    height: 14px;
    background-position: -4009px 0px; }
  .flag.pl {
    height: 13px;
    background-position: -4031px 0px; }
  .flag.pm {
    height: 14px;
    background-position: -4053px 0px; }
  .flag.pn {
    height: 10px;
    background-position: -4075px 0px; }
  .flag.pr {
    height: 14px;
    background-position: -4097px 0px; }
  .flag.ps {
    height: 10px;
    background-position: -4119px 0px; }
  .flag.pt {
    height: 14px;
    background-position: -4141px 0px; }
  .flag.pw {
    height: 13px;
    background-position: -4163px 0px; }
  .flag.py {
    height: 11px;
    background-position: -4185px 0px; }
  .flag.qa {
    height: 8px;
    background-position: -4207px 0px; }
  .flag.re {
    height: 14px;
    background-position: -4229px 0px; }
  .flag.ro {
    height: 14px;
    background-position: -4251px 0px; }
  .flag.rs {
    height: 14px;
    background-position: -4273px 0px; }
  .flag.ru {
    height: 14px;
    background-position: -4295px 0px; }
  .flag.rw {
    height: 14px;
    background-position: -4317px 0px; }
  .flag.sa {
    height: 14px;
    background-position: -4339px 0px; }
  .flag.sb {
    height: 10px;
    background-position: -4361px 0px; }
  .flag.sc {
    height: 10px;
    background-position: -4383px 0px; }
  .flag.sd {
    height: 10px;
    background-position: -4405px 0px; }
  .flag.se {
    height: 13px;
    background-position: -4427px 0px; }
  .flag.sg {
    height: 14px;
    background-position: -4449px 0px; }
  .flag.sh {
    height: 10px;
    background-position: -4471px 0px; }
  .flag.si {
    height: 10px;
    background-position: -4493px 0px; }
  .flag.sj {
    height: 15px;
    background-position: -4515px 0px; }
  .flag.sk {
    height: 14px;
    background-position: -4537px 0px; }
  .flag.sl {
    height: 14px;
    background-position: -4559px 0px; }
  .flag.sm {
    height: 15px;
    background-position: -4581px 0px; }
  .flag.sn {
    height: 14px;
    background-position: -4603px 0px; }
  .flag.so {
    height: 14px;
    background-position: -4625px 0px; }
  .flag.sr {
    height: 14px;
    background-position: -4647px 0px; }
  .flag.ss {
    height: 10px;
    background-position: -4669px 0px; }
  .flag.st {
    height: 10px;
    background-position: -4691px 0px; }
  .flag.sv {
    height: 12px;
    background-position: -4713px 0px; }
  .flag.sx {
    height: 14px;
    background-position: -4735px 0px; }
  .flag.sy {
    height: 14px;
    background-position: -4757px 0px; }
  .flag.sz {
    height: 14px;
    background-position: -4779px 0px; }
  .flag.ta {
    height: 10px;
    background-position: -4801px 0px; }
  .flag.tc {
    height: 10px;
    background-position: -4823px 0px; }
  .flag.td {
    height: 14px;
    background-position: -4845px 0px; }
  .flag.tf {
    height: 14px;
    background-position: -4867px 0px; }
  .flag.tg {
    height: 13px;
    background-position: -4889px 0px; }
  .flag.th {
    height: 14px;
    background-position: -4911px 0px; }
  .flag.tj {
    height: 10px;
    background-position: -4933px 0px; }
  .flag.tk {
    height: 10px;
    background-position: -4955px 0px; }
  .flag.tl {
    height: 10px;
    background-position: -4977px 0px; }
  .flag.tm {
    height: 14px;
    background-position: -4999px 0px; }
  .flag.tn {
    height: 14px;
    background-position: -5021px 0px; }
  .flag.to {
    height: 10px;
    background-position: -5043px 0px; }
  .flag.tr {
    height: 14px;
    background-position: -5065px 0px; }
  .flag.tt {
    height: 12px;
    background-position: -5087px 0px; }
  .flag.tv {
    height: 10px;
    background-position: -5109px 0px; }
  .flag.tw {
    height: 14px;
    background-position: -5131px 0px; }
  .flag.tz {
    height: 14px;
    background-position: -5153px 0px; }
  .flag.ua {
    height: 14px;
    background-position: -5175px 0px; }
  .flag.ug {
    height: 14px;
    background-position: -5197px 0px; }
  .flag.um {
    height: 11px;
    background-position: -5219px 0px; }
  .flag.us {
    height: 11px;
    background-position: -5241px 0px; }
  .flag.uy {
    height: 14px;
    background-position: -5263px 0px; }
  .flag.uz {
    height: 10px;
    background-position: -5285px 0px; }
  .flag.va {
    height: 15px;
    background-position: -5307px 0px; }
  .flag.vc {
    height: 14px;
    background-position: -5324px 0px; }
  .flag.ve {
    height: 14px;
    background-position: -5346px 0px; }
  .flag.vg {
    height: 10px;
    background-position: -5368px 0px; }
  .flag.vi {
    height: 14px;
    background-position: -5390px 0px; }
  .flag.vn {
    height: 14px;
    background-position: -5412px 0px; }
  .flag.vu {
    height: 12px;
    background-position: -5434px 0px; }
  .flag.wf {
    height: 14px;
    background-position: -5456px 0px; }
  .flag.ws {
    height: 10px;
    background-position: -5478px 0px; }
  .flag.xk {
    height: 15px;
    background-position: -5500px 0px; }
  .flag.ye {
    height: 14px;
    background-position: -5522px 0px; }
  .flag.yt {
    height: 14px;
    background-position: -5544px 0px; }
  .flag.za {
    height: 14px;
    background-position: -5566px 0px; }
  .flag.zm {
    height: 14px;
    background-position: -5588px 0px; }
  .flag.zw {
    height: 10px;
    background-position: -5610px 0px; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 400px;
    margin: 30px auto; }

  .col-center {
    margin-top: 60px; } }

/*# sourceMappingURL=style.css.map */
