//variables

$main-color:#78be20 ;
$accent: #6aa71d;
$white: #FFF;
$border-color: #7f8589;
$valid:  #0066bc ;
$duration: .5s;
$error: #E53935 ;
$success: #00E676;
$gray: #a7a5a5;
$cancel: #919090;
$cancel-hover: #7d7d7d;