@import 'base';
@import 'mixin';

html, body{
	font-family: 'Open Sans', sans-serif;
	height:100vh;
	overflow: hidden;
	background: $valid;
}


%form-control{
	border-color: $border-color;
	font-size: 13px;
	@include box-shadow(none);
	@include border-radius(0px);
}
input.form-control{
	@extend %form-control;
	height: 40px;

	&:focus{
		@include box-shadow(none);
		border-color: $main-color;
		outline: 0;
	}
}

textarea.form-control{
	@extend %form-control;
	resize: none;
	padding: 6px 25px 6px 12px;
	&:focus{
		@include box-shadow(none);
		border-color: $main-color;
		outline: 0;
	}
}

%btn{
	border-radius: 0px;
	color: $white;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 10px;
	border: 0px;
	@include box-shadow-2(3px, 3px ,3px, 3px, #ccc);
}
.btn-default{
	@extend %btn;
	background: $main-color;
	
	&:hover,
	&:focus,
	&:active{
		background: $accent !important;
		color: $white  !important;
		outline: 0  !important;
	}
}

.btn-cancel{
	@extend %btn;
	background: $cancel;
	
	&:hover,
	&:focus,
	&:active{
		background: $cancel-hover !important;
		color: $white  !important;
		outline: 0  !important;
	}
}

//container
.phoneCodeList{
	margin-top: 0px;
	padding: 10px 12px;
	width:100px;
}
.col-center{
	background: $white;
    margin: 0 auto;
    float: none;
	padding: 0px 25px 25px 25px;
	@include box-shadow-2(13px, 13px, 13px, 13px, #000);
}

ul.dropdown-menu{
	height: 250px;
    overflow-y: scroll;
}

img.logo{
	height:100px;
}

//validation
p{

	&.counter{
		display: inline-block;
		float:right;
		font-size: 11px;
		padding: 2px;
		font-weight: bold;
		
	}
	&.error-message{
		display: inline-block;
		font-size: 12px;
		font-style:italic;
		color: $error;
		font-weight: 700;
		
		
	}
}

span{
	position: absolute;
	top: 12px;
	right: 7px;
	font-size: 15px;
	z-index: 99;
	&.error{
		color: $error;
	}

	&.validated{
		color: $success;

		
	}
	&.validated-2{
		position: absolute;
		top: 32px;
		right: 7px;
		font-size: 15px;
		z-index: 99;
	}
}

.div-message{
	position: relative;

	span{
	position: absolute;
	top: 32px;
	right: 7px;
	font-size: 15px;
	z-index: 99;
	}	
}
.bg-error{
	background: $error;
}
.border-error{
	border-color: $error;
}

//result
.resultDiv{
	text-align: center;
}

.resultIcon{
	font-size:70px;
	color: $gray;
}
.resultMessage{
	color: $valid;
	padding:15px;
}

//modal{
.modal-content{
border-radius: 0px;
}