@import 'base';

@mixin transition($color, $transition){
    -webkit-transition: $color transition;
	-moz-transition: $color transition;
	-o-transition: $color transition;
	-ms-transition: $color transition;
	transition: $color transition;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
		-ms-border-radius: $radius;
			border-radius: $radius;
  }

@mixin box-shadow($value) {
	  -webkit-box-shadow:$value;
	  -moz-box-shadow: $value;
	  box-shadow: $value;
  }

@mixin box-shadow-2($h, $v, $blur, $offset, $color) {
	-webkit-box-shadow:$h, $v, $blur, $offset, $color;
	-moz-box-shadow: $h, $v, $blur, $offset, $color;
	box-shadow: $h, $v, $blur, $offset, $color;
}

